<div class="container">
  <div class="row mt-3">
    <div class="col-md-7">
      <h1>formulario</h1>
      <div class="card">
        <div class="card-heder">
          <img src="../../../assets/tec.png" height="240em" />
        </div>
        <div class="card-body">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
            />
            <label for="floatingInput">Nombre</label>
          </div>
        </div>
      </div>
    </div>
    <!-- Segunda Columna -->
    <div class="col-md-5">
      <h2>Lista de Chamacos</h2>
        <ng-container *ngIf="lista.length">
          <ul>
            <li *ngFor="let item of lista" class="h4">{{item}}</li>
          </ul>
        </ng-container>
    </div>
  </div>
</div>
